body{
    margin: 20%;
    background-color: #f4f4f4;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #555555;
}
body h1{
    text-align: center;
}
body p{
    line-height: 1.6em;
}
footer{
    font-weight: 100;
    align-self: center;
    font-size: 14px;
    background-color: #cfcece;
    text-align: center;}
footer:hover{
    color: #55555500;
    background-color: #f4f4f4;
}